/* css/_layout.css */
.game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1800px;
    max-height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* --- เพิ่มพื้นหลังสำหรับตอนเล่นเกม --- */
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('https://lh3.googleusercontent.com/pw/AP1GczOQ69r2swWbpZyDV-97J1X9rXszA09NRSBNKiubUf4-02ND-jIgH0MZkZCWcP7-dNtQSc6vJt9ThoiPjMdKSnhqemsMK21pUjlmrZmoFWDy-vysHZowG7LgcvneIo9s2WEqP03o3D5xFsXfpdy8DYjQ=w1691-h923-s-no-gm?authuser=0');
    background-size: cover;
    background-position: center;
    /* --- --------------------------- --- */
}

#game-board {
    position: relative;
    display: grid;
    grid-template-columns: 2fr repeat(11, 2.5fr) 2fr;
    grid-template-rows: 2fr repeat(7, 1.75fr) 2fr;
    gap: 2px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 95vw;
    max-width: 1600px;
    height: 95vh;
    max-height: 900px;
    flex-shrink: 0;
}

#control-panel {
    grid-area: 2 / 2 / 9 / 13;
    border-radius: 12px;
    padding: 15px;
    display: grid;
    grid-template-rows: 60% 40%;
    gap: 15px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    overflow: hidden;
}

#player-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    min-height: 0;
}

#bottom-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    min-height: 0;
}

#game-log-container {
    grid-column: 1 / 2;
}

#action-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
